:root{
    --cor-detalhes-e-fundos : yellow; 
    --cor-branco : white;
    --cor-amarelo-claro : rgb(255, 255, 197);
    --cor-amarelo-escuro : rgb(150, 150, 0);
    --cor-escura : black;
    --cor-verde : green;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--cor-detalhes-e-fundos);
    color: var(--cor-escura);
    padding: 3vh;
}

body{
    font-family: Arial;
    color: var(--cor-escura);
    background-color: var(--cor-branco);
}

.riscoheader{
    background-color: var(--cor-escura);
    height: 1vh;
}

.risco{
    background-color: var(--cor-escura);
    height: 1vh;
    margin: 20px;
}

.apresentacao{
    margin: 20px;
}

.apre{
    margin: 20px;
}

.nome {
    background-color: var(--cor-branco);
    border: 3px solid var(--cor-escura);
    padding: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.enviar{
    background-color: var(--cor-detalhes-e-fundos);
    border: 3px solid var(--cor-escura);
    padding: 5px;
    font-weight: bold;
    margin: 20px;
}

.enviar:hover{
    transition: 0.7s;
    background-color: var(--cor-amarelo-claro);
    border: 3px solid var(--cor-escura);
    padding: 5px;
    font-weight: bolder;
    margin: 20px;
}

.titulo{
    margin: 20px;
}

.tituloctt{
    margin: 10px;
}

.imgjs{
    height: 80%;
    width: 80%;
    max-width: 500px;
    margin: 20px;
    background: var(--cor-escura);
    border: 4px solid var(--cor-escura);
}

.logowpp{
    height: 20%;
    width: 20%;
    max-width: 200px;
    margin: 10px;
}

a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    color: var(--cor-escura);
}
a:hover{
    transition: 0.7s;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    color: var(--cor-amarelo-escuro);
}

.numberzap{
    font-weight: bolder;
    color: var(--cor-verde);
    margin: 10px;
}

.dp-menu ul{
    list-style-type: none;
    padding: 0;
}

.dp-menu ul{
    background-color: var(--cor-escura);
}

.dp-menu ul li{
    display: inline-block;
}

.dp-menu ul li a{
    padding: 10px;
    color: var(--cor-detalhes-e-fundos);
}